@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@700&display=swap");
.maindiv {
  margin-top: 40vh;
  width: 85%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  position: absolute;
  left: 65vw;
  display: block;
}
.title-text {
  display: block;
  margin-top: 25vh;
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 4rem;
  font-weight: bold;
}

body {
  font-family: "Atkinson Hyperlegible", sans-serif;
}

@media (max-width: 1500px) {
  .logo {
    position: relative;
    float: none;
    left: 0px;
    width: 20px;
  }
  .logoimage {
    width: 80vw;
  }
  .maindiv {
    margin-top: 5vh;
  }
  .title-text {
    margin-top: 5vh;
  }
}
