body {
  font-family: Serif;
}
.marginSides {
  margin-left: 10%;
  margin-right: 10%;
}

.imgStyle2 {
  float: left;
  min-width: 200px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
  border-radius: 15px;
  border: none;
  
}
.imgStyle2:hover {
  
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.8);
}

.mapStyle {
  display: block;
  margin-top: 50px;
  height: 100vh;
  float: bottom;
}
.postsContainer {
  gap: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.postsContainer > * {
  flex: 0 1 25%;
}
.postsHead {
  text-align: center;
}
.scalable {
  height: 40px;
  text-align: center;
  padding: auto;
}
.Label{
  font-weight: 100;
}
button{

}

