@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html {
  overflow: hidden;
}
.ui_buttons {
  display: flex;
  gap: 1em;
}

.main-container {
  display: flex;
  flex-direction: row;
  margin: 0 3vw;
  position: absolute;
  bottom: 0;
  gap: 10em;
}
.title {
  font-size: 5rem;
  font-weight: 600;
}
.logo {
}
.background {
  background-image: linear-gradient(rgb(17, 0, 255), rgb(10, 252, 159));
  z-index: -1;
  width: 250vh;
  height: 100vh;
  transform: rotate(42deg);
  position: absolute;
  right: 56em;
  top: 5em;
  box-sizing: content-box;
}
.title-text {
  color: white;
  margin-top: auto;
  margin-bottom: 2vw;
  font-size: 1rem;
}

body {
  font-family: "Roboto", sans-serif;
}
h2 {
  width: 60%;
}

@media (max-width: 1700px) {
  :root {
    font-size: 11px;
  }
}
@media (max-width: 1500px) {
  .logo {
    position: relative;
    left: auto;
    right: auto;
    display: block;
    margin-left: 10%;

    width: 20px;
  }
  .logoimage {
    width: 80vw;
  }
  h2 {
    width: 100%;
  }
  .maindiv {
    padding-top: 10vh;

    width: 100%;
  }
  .title-text {
    margin-left: 5px;
    margin-top: 5vh;
    width: 100%;
  }
}
